.navbar {

  ul {
    list-style: none;
    flex-direction: unset;

    li {
      display: inline;
      margin: 0 10px 0 0;
    }
  }

}

@media only screen and (max-width: 547px) {
  .col-hide {
    display: none;
  }
}